/* General layout styles */
body {
  font-family: "Amatic SC", sans-serif;
  margin: 0;
  font-family: Arial, sans-serif;
  height: 100vh;
  background-color:#ffb3ba;
}

.horizontal-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  position: absolute;
  top: 0;
  width: 100%;
}

.horizontal-nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.horizontal-nav ul li {
  margin: 0 10px;
}

.horizontal-nav ul li a {
  font-family: "Amatic SC", sans-serif; /* Correct custom font usage */
  color: #504e4e;
  text-decoration: none;
  font-size: 2vw;
}


.horizontal-nav ul li a:hover {
  font-weight: bold;
}

.horizontal-nav ul li a.active {
  font-weight: bold;
  text-decoration:line-through; 
}


.content {
  padding-top: 80px;
  text-align: center;
}

/* Container for images */
.container {
  display: flex;
  justify-content: center;
}

.image-container {
  overflow: hidden;
  height: 230px; /* Set the height of the container */
}

.cropped-image {
  width: 100%;  /* Make the image fit its container */
  height: 100%; /* Make the image fit its container */
  object-fit: cover; /* Cover the container fully */
  object-position: top; /* Initially start from the top */
  transition: transform 0.0s ease, object-position 0.01s ease;
  /*transition: object-position 2s ease-in-out; /* Add smooth transition to object position */
}

.cropped-image:hover {
	object-position: bottom;
	transition-delay: 0s;
}

.cropped-image:not(:hover) {
	transition: transform 2s ease, object-position 2s ease;
	transition-delay: 2s;
}

/* Text containers */
.container-2 {
  margin-top: 20px;
}

.container-3 {
  margin-top: 10px;
}

.bodytext {
  font-family: "Amatic SC", sans-serif;
  color: #504e4e;
  font-size: 3vw;
}

/* Link styles */
.link {
  color: #504e4e;
  text-decoration: none;
}

/* Footer */
footer {
  text-align: center;
  background-color:#ffb3ba;;
  color: white;
  padding: 0px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.amatic-sc-regular {
  font-family: "Amatic SC", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.amatic-sc-bold {
  font-family: "Amatic SC", sans-serif;
  font-weight: 700;
  font-style: normal;
}
