/* General layout styles */
body {
  font-family: "Amatic SC", sans-serif;
  margin: 0;
  font-family: Arial, sans-serif;
  height: 100vh;
  background-color: #ffb3ba;
}

.horizontal-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  position: absolute;
  top: 0;
  width: 100%;
}

.horizontal-nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.horizontal-nav ul li {
  margin: 0 10px;
}

.horizontal-nav ul li a {
  font-family: "Amatic SC", sans-serif;
  color: #504e4e;
  text-decoration: none;
  font-size: 2vw;
}

.horizontal-nav ul li a:hover {
  font-weight: bold;
}

.horizontal-nav ul li a.active {
  font-weight: bold;
  text-decoration: line-through;
}

.content {
  padding-top: 40px;
  text-align: center;
}

/* Container for images */
.container {
  display: flex;
  justify-content: center;
}

.image-container {
  overflow: hidden;
  height: 230px;
}

.cropped-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  transition: transform 0.0s ease, object-position 0.01s ease;
}

.cropped-image:hover {
  object-position: bottom;
  transition-delay: 0s;
}

.cropped-image:not(:hover) {
  transition: transform 2s ease, object-position 2s ease;
  transition-delay: 2s;
}

/* Text containers */
.container-2 {
  margin-top: 10px;
}

.bodytext {
  font-family: "Amatic SC", sans-serif;
  color: #504e4e;
  font-size: 3vw;
}

/* Link styles */
.link {
  color: #504e4e;
  text-decoration: none;
}

/* Footer logo styling inside main content */
.footer-left {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 7px;
}

.footer-logo {
  width: 25px;
  height: 25px;
  margin: 0 10px;
}

/* Footer section */
footer {
  background-color: #ffb3ba;
  color: white;
  text-align: center;
  width: 100%;
  padding: 10px 0;
  box-sizing: border-box;
}

